<div class="bs-sidebar hidden-print affix" role="complementary">
	<ul class="nav bs-sidenav">
	  	<li class="active"><a href="javascript:;">栏目管理</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">栏目列表</a></li>
			    <li><a href="#download-additional">添加栏目</a></li>
		     </ul>
  		</li>
	</ul>
</div>