<div class="bs-sidebar hidden-print affix" role="complementary">
	<ul class="nav bs-sidenav">
	  	<li class="active"><a href="javascript:;">文章管理</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">文章列表</a></li>
			    <li><a href="#download-additional">发布文章</a></li>
		     </ul>
  		</li>
	  	<li class="active"><a href="javascript:;">招聘管理</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">招聘列表</a></li>
			    <li><a href="#download-additional">发布招聘</a></li>
		     </ul>
		</li>
	  	<li class="active"><a href="javascript:;">评论管理</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">文章评论</a></li>
			    <li><a href="#download-additional">招聘评论</a></li>
		     </ul>
		</li>
	</ul>
</div>