<div class="bs-sidebar hidden-print affix" role="complementary">
	<ul class="nav bs-sidenav">
	  	<li class=""><a href="">全局配置</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">基本参数</a></li>
		     </ul>
  		</li>
	</ul>
	<ul class="nav bs-sidenav hidden">
	  	<li class=""><a href="">文章管理</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">文章列表</a></li>
			    <li><a href="#download-additional">发布文章</a></li>
		     </ul>
  		</li>
	  	<li><a href="">招聘管理</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">招聘列表</a></li>
			    <li><a href="#download-additional">发布招聘</a></li>
		     </ul>
		</li>
	  	<li><a href="">评论管理</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">文章评论</a></li>
			    <li><a href="#download-additional">招聘评论</a></li>
		     </ul>
		</li>
	</ul>
	<ul class="nav bs-sidenav hidden">
	  	<li class=""><a href="">栏目管理</a>
	  		<ul class="nav">
			    <li><a href="#download-compiled">栏目列表</a></li>
			    <li><a href="#download-additional">添加栏目</a></li>
		     </ul>
  		</li>
	</ul>
</div>