<div class="bs-sidebar hidden-print affix" role="complementary">
	<ul class="nav bs-sidenav">
	  	<li class="active"><a href="javascript:;">全局配置</a>
	  		<ul class="nav">
			    <li><a href="/admin/system">基本参数</a></li>
		     </ul>
  		</li>
	</ul>
</div>