<div class="box1 m_t_10">
	<div class="title"><span class="catname">壹圆推荐书目</span></div>
	<div class="center">
		<ul class="books">			
			<%	for(var i = 0 ; i< books.length; i++){ %>
				<li>
					<img class="bookimg" src="<%= books[i].pic %>" alt="">
					<div class="bookdes">
						<p class="t"><%= books[i].title %></p>
						<p>作者：<%= books[i].writer %></p>
					</div>
				</li>
			<% } %>
		</ul>
	</div>
</div>