<div class="box1 m_t_10">
	<div class="title"><span class="catname">壹圆推荐书目</span></div>
	<div class="center">
		<ul class="books">
			<li>
				<img class="bookimg" src="/public/skin/img/book.jpg" alt="">
				<div class="bookdes">
					<p class="t">定位</p>
					<p>作者：艾·里斯、杰克·特劳特</p>
				</div>
			</li>
		</ul>
	</div>
</div>