<div id="header" >
	<div class="headerwrap" class="clearfix">
		<div class="logo clearfix">
			<img src="/public/skin/img/site_logo.jpg" alt="">
		</div>
		<div class="nav">
			<ul class="level1">
				<% for( var i in nav) { %>	
					<li><a href="<%= nav[i].url %>"><%= nav[i].name %></a></li>
				<% } %>
			</ul>
		</div>
	</div>
</div>